<div class="page-header">
  <div class="header-content">
    <div class="title-section">
      <mat-icon *ngIf="icon" class="header-icon">{{ icon }}</mat-icon>
      <div>
        <h1 class="page-title">{{ title }}</h1>
        <p *ngIf="subtitle" class="page-subtitle">{{ subtitle }}</p>
      </div>
    </div>
    <div class="header-actions">
      <ng-content></ng-content>
      <button *ngIf="actionLabel" mat-raised-button color="primary" (click)="onAction()">
        <mat-icon *ngIf="actionIcon">{{ actionIcon }}</mat-icon>
        {{ actionLabel }}
      </button>
    </div>
  </div>
</div>
