<mat-toolbar color="primary" class="mat-elevation-z6 glossy-toolbar">
  <span class="mat-h3">Event Management System</span>

  <span class="spacer"></span>
  <div>
    <!-- Role-based navigation -->
    <ng-container *ngIf="roleName === 'PLANNER'">
      <button mat-link routerLink="/create-event">Create Event</button>
      <span class="spacer"></span>
      <button mat-button routerLink="/add-resource">Add Resource</button>
      <span class="spacer"></span>

      <button mat-button routerLink="/resource-allocate">Allocate Resource</button>
      <span class="spacer"></span>

    </ng-container>

    <ng-container *ngIf="roleName === 'STAFF'">
      <button mat-button routerLink="/view-events">View Events</button>
    </ng-container>

    <ng-container *ngIf="roleName === 'CLIENT'">
      <button mat-button routerLink="/booking-details">Booking Details</button>
    </ng-container>

    <!-- Profile & Logout -->
    <button mat-button [routerLink]="['/profile']">

      <mat-icon>person</mat-icon> My Profile
    </button>
    <span class="spacer"></span>

    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </div>
</mat-toolbar>

<body>
    <router-outlet>    
    </router-outlet>
</body>

