

<mat-toolbar color="primary" class="mat-mdc-toolbar coolvetica" style="border-radius: 0 0 16px 16px;">
  <span style="font-size: 1.5rem; font-weight: bold;">Event Management And Resource Allocation Platform</span>
  <span class="spacer"></span>
  <ng-container *ngIf="roleName === 'PLANNER'">
    <button mat-button routerLink="/create-event">Create Event</button>
    <button mat-button routerLink="/add-resource">Add Resource</button>
    <button mat-button routerLink="/resource-allocate">Allocate Resource</button>
  </ng-container>
  <ng-container *ngIf="roleName === 'STAFF'">
    <button mat-button routerLink="/view-events">View Events</button>
  </ng-container>
  <ng-container *ngIf="roleName === 'CLIENT'">
    <button mat-button routerLink="/booking-details">Booking Details</button>
  </ng-container>
  <span class="spacer"></span>
  <ng-container *ngIf="IsLoggin">
    <button mat-raised-button color="accent" (click)="logout()">Logout</button>
  </ng-container>
  <ng-container *ngIf="!IsLoggin">
    <button mat-raised-button color="accent" routerLink="/login">Login</button>
  </ng-container>
</mat-toolbar>

<style>
  .spacer {
    flex: 1 1 auto;
  }
</style>

<body>
  <div class="container mt-4 mx-5">
    <router-outlet></router-outlet>
  </div>
</body>

