<div class="container mt-4">
  <mat-toolbar color="000000" class="mb-4">
    <span class="mat-h3">Event Management System</span>
  </mat-toolbar>

  <div *ngIf="roleName === 'PLANNER'">
    <mat-card class="mb-4">
      <mat-card-content>
        <app-add-resource></app-add-resource>
      </mat-card-content>
    </mat-card>
    <mat-card class="mb-4">
      <mat-card-content>
        <app-create-event></app-create-event>
      </mat-card-content>
    </mat-card>
    <mat-card class="mb-4">
      <mat-card-content>
        <app-resource-allocate></app-resource-allocate>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="roleName === 'STAFF'">
    <mat-card class="mb-4">
      <mat-card-content>
        <app-view-events></app-view-events>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="roleName === 'CLIENT'">
    <mat-card class="mb-4">
      <mat-card-content>
        <app-booking-details></app-booking-details>
      </mat-card-content>
    </mat-card>
  </div>
</div>