@font-face {
  font-family: 'Coolvetica';
  src: url('https://fonts.cdnfonts.com/s/17418/CoolveticaRg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.coolvetica {
  font-family: 'Coolvetica', Arial, sans-serif;
}
